/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}

/* Custom Scroll Bar */
html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--text-color);
}

section {
    padding: 4rem 0 2rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow {
    background-color: var(--bg-color);
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 2rem;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover,
.navbar .active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.aluguel-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.aluguel-container form {
    flex: 1 1 40rem;
    padding: 2rem;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
}

.aluguel-container .pedidos {
    flex: 1 1 20rem;
    padding: 2rem;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
}

form div {
    margin-bottom: 1rem;
}

form label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

form input, form select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
}

form .btn {
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

form .btn:hover {
    background: #fd052f;
}

.resumo {
    margin-top: 1rem;
}

.resumo h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.resumo p {
    font-size: 1rem;
    font-weight: 500;
}

.pedidos h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.pedidos ul {
    list-style: none;
}

.pedidos ul li {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    margin-bottom: 20px;
}

.search {
    margin-bottom: 20px;
}

.search input[type="text"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.btn-red {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-red:hover {
    background-color: darkred;
}
